# Binaries for programs and plugins
bin/
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binaries and coverage artifacts
*.test
*.out
coverage.*
*.coverprofile
profile.cov
node_modules/
*.tsbuildinfo
vite.config.js
vite.config.d.ts

# Go workspace files
go.work
go.work.sum

# Local environment
.env
